// COLORS
$primary-color: #f10404;
$secondary-color: #1cf009;

// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$white-color: rgb(0, 0, 0);

$dark-grey: #000000;

$dark-blue-text: #16aaff; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
